<div class="col-sm-2"></div>
<div class="col-sm-8">  
  <table class="table table-hover">
    <tr *ngFor="let post of user?.post of user">
        <td width="70px">
            <a href="#">
                <img width="70px" src="https://images.pexels.com/photos/91227/pexels-photo-91227.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb" />
            </a>
        </td>
        <td>
                <p>{{post.created_at}}</p>
                <p><b>{{post.body}}</b></p>
        </td>
    </tr>
  </table>
</div>
<div class="col-sm-2"></div>