<div class="col-sm-4"></div>
<div class="col-sm-4">  
  <form [formGroup] = "loginform" (ngSubmit) = "login()">
    <h1>Login</h1>
    <div>
      <label for="username">Username:</label> 
      <input type="text" name="username" id="username" class="form-control" formControlName ="username"> 
    </div>
    <div>
      <label for="password">password:</label>
      <input type="password" name="password" id="password" class="form-control" formControlName ="password">
    </div>
    <div *ngIf = "invalid" class="alert alert-danger">Invalid username or password</div>
    <br>
    <input type="submit" value="login" class="btn btn-primary">
  </form>
  <br>
  <p>New user? <a [routerLink] = "['/signup']">sign-up</a> here!</p>
</div>
<div class="col-sm-4"></div>