<nav class="navbar navbar-default">
  <div class="container">
      <div class="navbar-header">
          <a class="navbar-brand" href="#">Chilki Bilki</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li routerLinkActive = "active current" [routerLinkActiveOptions]="{exact: true}"><a routerLink = "/posts">Posts</a></li>
          </ul>
          <!--form class="navbar-form navbar-left">
              <div class="form-group">
                  <input type="text" name = "search" id = "search" formControlName = "search" class = "form-control" placeholder="search" size="20">
              </div>
          </form-->
          <ul class="nav navbar-nav navbar-right">
              <li routerLinkActive = "active current" [routerLinkActiveOptions]="{exact: true}"><a (click) = "logout()" [routerLink] = "['/']">Logout</a></li>
          </ul>
      </div>
  </div>
</nav>