<div *ngIf = "token" class="col-sm-12">
    <app-post-form (addPost) = "optimisticAdd($event)" (addPostPs) = "pessimiaticAdd()"></app-post-form>
</div>
<div *ngIf = "!token">
    <p>Hey! you are not login. you can do it <a [routerLink] = "['/']">here</a> </p>
</div>
<div class="col-sm-2"></div>
<div class="col-sm-8">  
  <table class="table table-hover">
    <tr *ngFor = "let key of postskeys">
        <td width="70px">
            <a [routerLink] = "['/users', posts[key].user_id]" (click)= "popular(key.user_id)">
                <img width="70px" src="https://images.pexels.com/photos/91227/pexels-photo-91227.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb" />
            </a>
        </td>
        <td>
            <span><b>{{posts[key].user_id}}</b> say:</span>
            <br>
            <span>{{posts[key].body}}</span>
            <a (click)= "likes(posts[key].id)" class="btn btn-default btn-sm float-right">
                <span class="glyphicon glyphicon-thumbs-up"></span> {{posts[key].likes}}
            </a>
        </td>
    </tr>
  </table>
</div>
<div class="col-sm-2"></div>


