<div class="col-sm-2"></div>
<div class="col-sm-8">  
  <table class="table table-hover">
    <tr>
        <td width="300px">
            <img width="300px" src="https://images.pexels.com/photos/91227/pexels-photo-91227.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb" />
        </td>
        <td>
            <h1><b>Name:</b>{{user?.name}}</h1>
            <p><b>Phone:</b>0{{user?.phone}}</p>
            <p><b>Join at:</b>{{user?.created_at}}</p>
            <p><b>Popularity:</b>{{user?.popularity}}</p>
        </td>
    </tr>
  </table>
</div>
<div class="col-sm-2"></div>
<div class="col-sm-12">
    <app-own-posts></app-own-posts>
</div>