<div class="col-sm-2"></div>
<div class="col-sm-8">  
  <form  [formGroup] = "pstform" (ngSubmit) = "sendData()">
      <h1>Welcome to Chilki Bilki Blog!</h1>
      <div>
        <label for="body">say something:</label>
        <textarea class="form-control" formControlName ="body"></textarea>
      </div>
      <br>
      <div class="form-group">
          <button class="btn btn-default" type="submit"  [disabled]="!pstform.valid" value = "Send post">Submit</button>
        </div>
    </form>
    <br>
</div>
<div class="col-sm-2"></div>