<div class="col-sm-4"></div>
<div class="col-sm-4">  
  <form [formGroup] = "usrform" (ngSubmit) = "sendData()">
      <h1>Create Account</h1>

      <h3>Login information<hr></h3>

      <div class="form-group">
        <label class="control-label" for="username">Username:</label> 
        <input type="text" name = "username" id = "username" formControlName = "username" class = "form-control" placeholder="Username">
      </div>
      <div *ngIf="!usrform.controls.username.valid" class="errors" style="color: crimson;  font-family: Tahoma;font-style:italic;font-size:90%;margin-left:40px;">Please Enter a Username</div>
      
      <div class="form-group">
        <label class="control-label" for="password">Password:</label> 
        <input type="password" name = "password" id = "password" formControlName = "password" class = "form-control" placeholder="Password">
      </div>
      <div *ngIf="!usrform.controls.password.valid" class="errors" style="color: crimson;  font-family: Tahoma;font-style:italic;font-size:90%;margin-left:40px;">Please Enter a Password</div>

      <h3>User information<hr></h3>

      <div class="form-group">
        <label class="control-label" for="name">Full Name:</label> 
        <input type="text" name = "name" id = "name" formControlName = "name" class = "form-control" placeholder="Full Name">
      </div>
      <div *ngIf="!usrform.controls.name.valid" class="errors" style="color: crimson;  font-family: Tahoma;font-style:italic;font-size:90%;margin-left:40px;">Please Enter a Name</div>
      
      <div class="form-group">
        <label class="control-label" for="phone">Phone:</label> 
        <input type="tel" name = "phone" id = "phone" formControlName = "phone" class = "form-control" placeholder="Phone">
      </div>
      <div *ngIf="!usrform.controls.phone.valid" class="errors" style="color: crimson;  font-family: Tahoma;font-style:italic;font-size:90%;margin-left:40px;">Please Enter a Phone</div>
      
      <div class="form-group">
        <button class="btn btn-default" type="submit"  [disabled]="!usrform.valid" >Submit</button>
      </div>

      <!--input type="submit" value="sign up" class="btn btn-primary"-->

    </form>

    <br>
    <p>Already have account? <a [routerLink] = "['/']">login</a> here!</p>
</div>
<div class="col-sm-4"></div>


